*{
    margin:0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    margin: 5% auto;
    max-width:700px;
    width: 80%;
    font-family: "Montserrat", sans-serif;
}
hr{
    margin: 20px 0;
}
h1{
    font-size: 24px;
    font-weight: 700;
}
h2{
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
}
h3, h4{
    margin-top: 20px;
    font-weight: 700;
}
h5, h6, p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
a{
    text-decoration:none;
    color:navy;
}
ul{
    padding: 20px 0;
}
.text, li{
    line-height: 22px;
    text-align: justify;
}
li{
    margin-left: 50px;
}
#clock{
    margin-left: 20px;
}
#more{
    margin-left: 10px;
    color: navy;
    cursor: pointer;
}